div(data-role='navbar', data-iconpos='left')
  ul
    li
      a(href='/', class='ui-btn-active', data-icon='home')='All'
    li
      a(href='#', data-icon='star')='Stared'
    li
      a(href='#', data-icon='gear')='Notification'
