div(data-role='popup', id="popupMenu", data-shadow="true", aria-disabled="false",data-disabled="false",data-corners="true",data-transition="slidedown",data-dismissable="true", data-position-to="window")
	a(href="#", data-rel="back",data-role="button",data-theme="a",data-icon="delete",data-iconpos="notext",class="ui-btn-right")
	ul(data-role="listview", data-inset="true", data-theme="b")
		li(data-role="divider",data-theme="a")="Menu"
		li(data-corners="false", data-shadow="false", data-iconshadow="true",data-wrapperels="div",data-icon="home", data-iconpos="left",data-theme="b")
			a(href="/uclaregistrar",data-transition="fade", data-icon="home", data-iconpos="left")="Home"
		li(data-corners="false", data-shadow="false", data-iconshadow="true",data-wrapperels="div",data-icon="star", data-iconpos="left",data-theme="b")
			a(href="#star",data-transition="fade",id="starred",data-ajax="false")="Starred"
		li(data-corners="false", data-shadow="false", data-iconshadow="true",data-wrapperels="div",data-icon="search", data-iconpos="left",data-theme="b")
			a(href="/search",data-transition="fade")="Search History"
script(type='text/javascript').
	var email = 'null';
	if (localStorage.getItem("email")) {
		email = localStorage.getItem("email");
	}
	$("#starred").bind("click", function(event) {
		window.location = "/star/"+encodeURIComponent(email);
	});
