div(class='courses_sec')
  - if(ucla_results.length)
    div(style='color:red')="Sorry, more than one result found."
    ul(data-role='listview')
      - ucla_results.forEach(function(result){
        li(data-role='list-divider', class='ui-bar-d')
          h3=result['prof']+' ('+result['department']+')'
        li(data-role='fieldcontain')
          - result['reviews'].forEach(function(review){
          div(class='ui-grid-a')
            div(class='ui-block-a')
              div(class='ui-bar ui-bar-e')=review['key']
            div(class='ui-block-b')
              - if(review['value'].length > 1)
                div(class='ui-bar ui-bar-e', style='width:'+review['value']*10+'%;')
                    =review['value']
              - else
                div(class='ui-bar')
                    ='N/A'
          - })
      - })
  - else
    - ucla_avg_reviews.forEach(function(review){
    div(class='ui-grid-a')
      div(class='ui-block-a')
        div(class='ui-bar ui-bar-e')=review['key']
      div(class='ui-block-b')
        - if(review['value'].length > 1)
          div(class='ui-bar ui-bar-e', style='width:'+review['value']*10+'%;')
              =review['value']
        - else
          div(class='ui-bar')
              ='N/A'
    - })
