div(data-role='page', id='course_desc', data-dom-cache="true")
  header(data-role='header')
    a(href=ucla_back_link, data-icon='arrow-l', data-direction='reverse')
      = "Back"
    h1="Course Description"
  div(data-role='content')
    - if(ucla_desp.length)
      p=ucla_desp
  != partial('backlinks')
  != partial('footer')
