div(data-role='page')
  header(data-role='header')
    h1=title
  div(data-role='content', id='terms')
    //check
    - if(ucla_terms.length)
      //create a listview wrapper
      ul(data-role='listview')
        //foreach of the collected term
        - ucla_terms.forEach(function(term){
          li
            a(href='/uclaregistrar/'+term['key'], alt='key')
              h3=term['name']
        - })
  div(data-role='footer', data-theme='d', role='contentinfo', class='footer-docs')
    p='&copy; 2011 Daifu Ye'
