div(data-role='page', id='course_desc', data-dom-cache="true")
  header(data-role='header')
    a(href="/uclaregistrar/", data-icon='arrow-l', data-direction='reverse')
      = "Back"
    h1="Register"
