//- div(data-role="page", data-dom-cache="true", id="search_page")
//-   div(data-role="content")
//-     div(data-role="filedcontain")
//-       fieldset(data-role="controlgroup")
//-         label(for="course_name")='Course Name'
//-         input(name="", id="course_name", placeholder="Enter a course name", value="", type="text")
//-     div(data-role="filedcontain")
//-       label(for="selectmenu1")="Choose a term:"
//-       select(data-native-menu="false", name="Term")
//-         - if(ucla_terms.length)
//-           - ucla_terms.forEach(function(term){
//-             option(value=term['key'])=term['name']
//-           - })