div(data-role='page', id='subjectArea')
  header(data-role='header')
    a(href="/uclaregistrar/"+ucla_term, data-icon='arrow-l', data-direction='reverse')
      = "Back"
    h1=ucla_title
  div(data-role='content')
    //check
    - if(ucla_classes.length)
      //create a listview wrapper
      ul(data-role='listview', data-filter='true')
        //foreach of the collected term
        - ucla_classes.forEach(function(cls){
          li
            a(href="/uclaregistrar/"+ucla_term+"/"+ucla_subject+"/"+cls['key'], alt='key')
              h3=cls['name']
        - })
    - else
      p='No classes are scheduled for this subject area this quarter.'
  != partial('backlinks')
  div(data-role='footer', data-theme='d', role='contentinfo', class='footer-docs')
    p='&copy; 2011 Daifu Ye'
