body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.footer-docs p {
   float: left;
   margin-left: 15px;
   font-weight: normal;
   font-size: .9em;
}
